@import "../../utils/constants.module.scss";
@import "../../utils/placeholders.module.scss";


.NoteItem {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 25rem;
    min-height: 25rem;
    background-color: $color-primery;
    border-radius: 0.5rem;
    overflow: hidden;

    &:hover {
        @extend %transition;
        box-shadow: 0 8px 13px 5px rgba(0, 0, 0, 0.26);
    }
}

.NoteTitleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem
}

.ContentWrapper {
    display: flex;
    flex-direction: column;

    overflow: hidden
}