@import "../../../utils/constants.module.scss";
@import "../../../utils/mixins.module.scss";

.Textarea {
    @include font (1.5rem, $hight: 1.5, $wight: 400);
    min-width: 23rem;
    resize: vertical;
    min-height: 15rem;
    padding: 1.5rem;
    border-radius: 2rem;
    position: relative;
    background-color: transparent;
    z-index: 2;
    overflow: hidden;

    @include media-mobile {
        width: 30rem;
        padding: 1rem;
    }
}

.NoteTextWrapper {
    min-width: 23rem;
    padding: 1rem;
    transition: all .3s;
    width: 100%;
    min-height: 15rem;
    cursor: pointer;

}