html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    @extend %font;
}

.body_lock {
    overflow: hidden;
}

h1 {
    margin: 0;
    @include font(3.2rem, 3.5rem, $color: $color-primery);
}

h2 {
    margin: 0;
    @include font(4.4rem, 5.72rem, $color: $color-light-xl);

    @include media-mobile {
        @include font(2.5rem, 3.2rem, $color: $color-light-xl);
        letter-spacing: 0.06em;
    }
}


p {
    @include font(1.5rem, 160%, $color: $color-dark-s);
    @extend %font-primery;
    margin: 0;
}

span {
    display: block;
}